*{
    font-family: "Helvetica";
    color: #919191;
}

body{
    background-image: linear-gradient(to right,#c2d9fc, #b5b5b5);
}

.header{
    width: max-content;
}
.textarea{
    max-width: 75%;
    min-width: 75%;
    height: 150px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
    max-height: 150px;
    min-height: 150px;
    border: 2px solid #919191;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 3px solid #919191;
    /*border-radius: 20px;*/
}

#datas{
    width: 30%;
    margin: 10px auto;

}

.title_Input{
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    border: none;
    width: 80%;
    border-bottom: 3px solid #919191;
    border-radius: 5px 5px 0px 0px;
    outline: 0;
}

label{
    font-size: 18px;
    font-weight: bold;
}

.control_Button{
    border: 2px solid #919191;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    font-size: 18px;
    text-align: center;
}
#control_Panel{
    width: max-content;
    margin: 10px auto;
}

.grid_Div{
    width: 40%;
    margin: 80px auto;
    display: block;
    border: 2px solid #919191;
    border-radius: 30px;
}

.answer{
    width: 60%;
    display: block;
    margin: 10px auto 5px auto;
    font-size: 18px;
    border: none;
    border: 1px solid #919191;
    outline: none;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 3px solid #919191;
    padding: 7px;
}

.delete_Button{
    color: white;
    background-color: red;
    border: 1px solid white;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    font-size: 11px;
    float: right;
    margin: 10px;
    padding: 0px;
    cursor:pointer;
}

.input_Delete_Button{
    color: white;
    background-color: red;
    border: 1px solid white;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    font-size: 11px;
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 0px;
    cursor:pointer;
    display: block;
}

.add_Button{
    display: block;
    margin: 10px auto;
    width: 21px;
    height: 21px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100%;
    padding: 0px;
    text-align: center;
    border: 1px solid #919191;
}

#add_New{
    width: 75%;
    margin: 10px auto;
    border: 2px solid black;
    background-color: #1e55e3;
    border-radius: 20px;
    position:fixed;
    bottom: 40%;
    right: 12.5%;
    display: none;
}

.choose_Button{
    width: max-content;
    border: 2px solid #919191;
    border-radius: 3px;
    padding: 10px;
    background-color: #546fb3;
    display:block;
    margin: 20px auto;
}
#buttons{
    padding: 10px;
    margin: 10px;

}