*{
    font-family: 'Google Sans', "Roboto", Helvetica, Arial, sans-serif;
    color: white/*white*/;
}
#header{
    width: 80%;
    min-width: 280px;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px 10px 30px;
    border-radius: 10px;
    background: linear-gradient(to right,#C152FF ,#f2295b);
    box-shadow: 0.1px 0.1px 0.1px 0.1px #9500ff;
    /*border: 1px solid black;*/
}
body{
    background: black/*linear-gradient(to right, #f5a2e8, #a2caf5);*/
}
.grid_Div{
    width: 80%;
    max-width: 600px;
    min-width: 280px;
    margin: 10px auto;
    padding: 30px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 0.1px 0.1px #9500ff;
    background: linear-gradient(to right,#C152FF ,#f2295b);

}
.question{
    display: inline-table;
    padding: 10px;
    margin: 5%;
    width: max-content;
}
.title{
    font-size: 18px;
    width: 80%;
    margin: 0px auto 20px auto;
}

#send{
    width:max-content;
    position: relative;
    left: 65%;
    margin-top: 30px;
}
#send_Button{
    width: 100px;
    margin: 10px;
    background: linear-gradient(to left,#C152FF ,#f2295b);
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

#result{
    display: none;
    background: black;
    color: white;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    min-width: 280px;
    border-radius: 20px;
    margin: 10px auto;
}

.thanks_Div{
    width: 80%;
    max-width: 600px;
    min-width: 280px;
    margin: 10px auto;
}

.thanks{
    width: 80%;
    max-width: 600px;
    min-width: 280px;
    margin: 10px auto;
}

#errors{
    width: 80%;
    max-width: 600px;
    min-width: 280px;
    color: red;
    font-size: 13px;
    margin: 10px auto;
}